<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%= site_name %></title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body class="black bg-lightest-blue">

    <div id="outer-wrapper" class="fl w-100 w-80-ns w-100-m h-100 pl4 pr4 sans-serif ">

      <div id="header" class="f3 fl w-100 mt3 pb3 bb b--mid-gray">
        <a href="/" class="fl b link black underline-hover"><%= site_name %></a>

        <a href="/about" class="fr ph3 link black underline-hover">About</a>

      </div>

      <div id="alerts" class="fl w-100 pv2">
        <%= if get_flash(@conn, :info) do %>
          <p id="info-alert" class="fl w-100 pa3 mb1 b white bg-blue" role="alert">
            <%= get_flash(@conn, :info) %>
            <a href="#" class="fr white link" onclick="document.querySelector('#info-alert').style.display='none'">X</a>
          </p>
        <% end %>
        <%= if get_flash(@conn, :error) do %>
          <p id="error-alert" class="fl w-100 pa3 mb1 b white bg-red" role="alert">
            <%= get_flash(@conn, :error) %>
            <a href="#" class="fr white link" onclick="document.querySelector('#error-alert').style.display='none'">X</a>
          </p>
        <% end %>
      </div>

      <div id="main-content" class="fl w-100 pa3 mt1 mb4 f5 bg-white br3">
        <%= render @view_module, @view_template, assigns %>
      </div>

    </div> <!-- /outer-wrapper -->

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
