/* App SCSS */

@import "../node_modules/tachyons-sass/tachyons.scss";

#main-content {}

.monospace {
  font-family: monospace;
}

.raw-content-wrapper {
  pre {
    padding: 12px;
    background-color: #eee;
  }
}
